@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./vendor/variables.css);

/* 

@media screen and (max-width: 1279px)
@media screen and (max-width: 1023px)
@media screen and (max-width: 767px)
@media screen and (max-width: 425px)

*/

/* Стили блока page */
@import url(./blocks/page/page.css);

/* Стили блока header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__line/header__line.css);

* {
  outline: 1px solid red;
  box-sizing: border-box;
}

.container {
  max-width: 880px;
  margin: 40px auto 66px;
  position: relative;
}

.profile {
  width: 100%;
}

.profile__columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__left-column {
  display: flex;
  gap: 30px;
  align-items: center;
}

.profile__avatar {
  border-radius: 50%;
  display: block;
}

.profile__info {
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px 18px;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  margin: 0;
  padding: 0;
}

.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 157%;
  margin: 0;
  padding: 0;
}

.profile__edit-button {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  background-color: var(--bg-color);
  align-self: end;
  transition: opacity .1s linear;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: .6;
}

.profile__add-button {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  background-color: var(--bg-color);
  transition: opacity .1s linear;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: .6;
}
/*==================================*/

.profile__form {
  display: none;
  padding: 34px 36px 37px 36px;
  position: relative;
}

.profile__form-title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: calc((29/24)*100%);
}

.profile__form-name {
  font-weight: 400;
  font-size: 14px;
  line-height: calc((17/14)*100%);
  color: #000;
  margin: 0;
  padding: 0;
  border: none;
}

.profile__form-job {
  font-weight: 400;
  font-size: 14px;
  line-height: calc((17/14)*100%);
  color: #000;
  margin: 0;
  padding: 0;
  border: none;
}

.profile__form-button {
  background-color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: calc((22/18)*100%);
  text-align: center;
  color: #FFF;
  margin: 0;
  padding: 0;
  border: none;

}