@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./vendor/variables.css);

/* 

@media screen and (max-width: 1279px)
@media screen and (max-width: 1023px)
@media screen and (max-width: 767px)
@media screen and (max-width: 425px)

*/

/* Стили блока page */
@import url(./blocks/page/page.css);

/* Стили блока header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__line/header__line.css);

* {
  outline: 1px solid red;
  box-sizing: border-box;
}

.container {
  max-width: 880px;
  margin: 40px auto 66px;
  position: relative;
}

.profile {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.profile__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__container-left-column {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.profile__avatar {
  border-radius: 50%;
  display: block;
  width: 120px;
  height: 120px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__info-header {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  margin: 0;
  padding: 0;
}

.profile__job {
  font-weight: 400;
  font-size: 18px;
  line-height: 157%;
  margin: 0;
  padding: 0;
}

.profile__edit-button {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  background-color: var(--bg-color);
  align-self: center;
  transition: opacity .1s linear;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: .6;
}

.profile__add-button {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  background-color: var(--bg-color);
  transition: opacity .1s linear;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: .6;
}

/*==================================*/

.form__overlay {
  display: none;
}

.form__overlay::before {
  content: '';
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.profile__form {
  display: grid;
  padding: 34px 36px 37px 36px;
  position: fixed;
  top: 195px;
  left: 50%;
  width: 430px;
  height: 330px;
  margin: 0 0 0 -215px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.profile__form-title {
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: calc((29/24)*100%);
}

.profile__form-name {
  font-weight: 400;
  font-size: 14px;
  line-height: calc((17/14)*100%);
  color: #000;
  margin: 0;
  padding: 0;
  border: none;
}

.profile__form-job {
  font-weight: 400;
  font-size: 14px;
  line-height: calc((17/14)*100%);
  color: #000;
  margin: 0;
  padding: 0;
  border: none;
}

.profile__form-save-button {
  background-color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: calc((22/18)*100%);
  text-align: center;
  color: #FFF;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 2px;
  transition: opacity .1s linear;
}

.profile__form-save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__form-close-button {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  top: -40px;
  right: -8px;
  transition: opacity .1s linear;
}

.profile__form-close-button:hover {
  opacity: .6;
  cursor: pointer;
}



.elements {
  width: 100%;
  margin-top: 50px;
}

.elements__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  row-gap: 20px;
}

@media screen and (max-width: 879px) {
  .elements__grid {
    margin: 0 19px;
    justify-content: center;
    column-gap: 17px;
  }
}

.element {
  border-radius: 10px;
  background-color: #fff;
}

.element__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 282px;
  object-fit: cover;
  display: block;
}

.element__group {
  display: flex;
  justify-content: space-between;
  margin: 25px 15px 31px 21px;
  align-items: center;
}

.element__title {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: calc((29/24)*100%);
  max-width: 224px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.element__button {
  border: none;
  background-image: url(./images/like_disabled.svg);
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  background-color: #fff;
  transition: opacity .1s linear;
}

.element__button:hover {
  opacity: .5;
  cursor: pointer;
}

.element__button_active {
  background-image: url(./images/like_active.svg);
}

.element__button_active:hover {
  opacity: 1;
  cursor: pointer;
}

.footer {
  max-width: 880px;
  margin: 66px auto 60px;
}

@media screen and (max-width: 879px) {
  .footer {
    margin: 48px 19px 36px;
  }
}

.footer__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: calc((18/22)*100%) 22px;
  color: #545454;
}