.popup__form {
  /* TODO Форма не должна быть в абсолюте. Все содержимое попап должно быть расположено по сетке флекс/грид и выровнено по центру флекс-свойствами.  */
  position: absolute;
  width: 430px;
  /* Необходимо удалить высоту у всех контентных и текстовых блоков. Для правильного расположения элементов необходимо применять технологию выравнивания (высоту строки, отступы) и построения сетки (флекс/грид) */
  height: 330px;
  /* TODO Примените технологию выравнивания */
  left: calc(50% - 430px/2);
  /*  Контейнер надо выровнять по вертикали https://skr.sh/sEsJMUfbLXO. Он должен быть по центру на всех разрешениях.
      Примените свойства сеток.
      Например, флекс https://skr.sh/sFlWtuOhGph */
  top: 195px;
  background: var(--white-color);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .popup__form {
    width: 282px;
    /* TODO Необходимо удалить высоту у всех контентных и текстовых блоков. Для правильного расположения элементов необходимо применять технологию выравнивания (высоту строки, отступы) и построения сетки (флекс/грид) */
    height: 322px;
    left: calc(50% - 282px/2);
    top: 123px;
  }
}