.popup__header {
  color: #000;
  margin: 39px 36px 52px;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: calc((24/29)*100%);
}

@media screen and (max-width: 767px) {
  .popup__header {
    font-size: 18px;
    line-height: calc((18/22)*100%);
    margin: 30px 22px 78px;
  }
}